<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Right</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <div class="nav-logo">
        <a href="#">
          <img src="/assets/images/logos/perro-logo.png" alt="Logotipo de Curiosidades Perrunas" />
          <h2>Curiosidades Perrunas</h2>
        </a>
      </div>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>

</body>

</html>